<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <header class="header"><%- include("_header")%></header>
    <main>
      <h2>Sobre Adriana</h2>
      <p>
        Mestre em Administração de empresas, entusiasta de tecnologias, agora em
        formação de Ciências da Computação. Desenvolvi minha carreira atuando
        mais de 8 anos na área de melhoria e desenvolvimento de processos, em
        diversos setores de uma multinacional.

        <br />
        <br />
        Enfim, achei meu caminho na inovação, tecnologia, desenvolvimento de
        processos e negócios. Devido a minha experiência como Especialista em
        Melhoria de Processos, desenvolvi um forte pensamento lógico, crítico e
        ampla visão de negócios. Atualmente tenho uma agência focada em
        desenvolver estruturas digitais - sites, e-commerce, estratégias de
        marketing para vendas online - e atuo de forma autônoma como
        desenvolvedora Front End.
      </p>
    </main>
    <footer><p>Feito por &copy; Adriana Cruz</p></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
